.bigVernierRoot{
  position: relative;
  img{
    width: 90em;
  }
   
  .overlay{
    left: 14em;
  }

  .vernierScaleWords{
    position: absolute;
    top: 1.5rem; left: 15.5rem;
    font-size: 1.5em;

    .line2{
      font-weight: 700;
    }
  }
}


.payAttentionRoot{
  position: relative;
  top: -12em;
}
.payAttention{
  width: 15em;
}